body {
  display: flex;
  background-color: #f5f5f5;
  min-height: 100vh;
  flex-direction: column;
}

.logo {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.btn-toolbar {
  margin: auto;
  display: table;
}

#drag-container {
  position: relative;
  box-sizing: border-box;
  background-color: black;
  min-height: 75vh;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  padding: 8px;
}

.trash {
  position: absolute;
  background-color: red;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trash i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.drag-handle > .fa-folder {
  display: flex;
  color: #f4d079;
  cursor: grab;
}

.drag-handle > .fa-file {
  display: flex;
  color: #f0eee5;
  cursor: grab;
}

.folder,
.file {
  display: flex;
  flex: 1 1 50%;
  max-width: 50%;
  flex-direction: column;
}

.folder input.folder-name,
.file input.file-name {
  background-color: transparent;
  font-family: monospace;
  color: white;
  border: none;
  outline: none;
  font-size: 85%;
  padding: 5px;
}

.content {
  display: flex;
  flex: 0 0 50%;
  align-items: center;
}

.children {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
}

.nesting-bars {
  display: flex;
  color: white;
}

.depth {
  display: flex;
}

footer {
  color: #333333;
}

.small a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.small a i {
  margin-left: 5px;
  transition: color 0.3s;
  opacity: 0.7;
}

.small a:hover i {
  opacity: 1;
}
